// .root {
//   display: grid;

//   grid-template-columns: 50% 50%;

//   width: 500px;
//   height: 250px;

//   background: white;
//   box-shadow: 11px 11px 19px 0px black;

//   margin-bottom: 25px;

//   border-radius: 5px;
// }

// .imageBlock {
//   grid-column-start: 1;
//   object-fit: cover;
//   & > img {
//     width: 250px;
//     height: 250px;
//     border-radius: 5px 0 0 5px;
//     // object-fit: con;
//   }
// }

// .infoBlock {
//   grid-column-start: 2;
// }

.root {
  position: relative;
  width: 200px;
  height: 350px;
  border-radius: 16px;

  margin-bottom: 70px;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.75);

  overflow: hidden;

  & > img {
    width: 200px;
    height: 250px;
    object-fit: content;
    border-radius: 16px 16px 0 0;

    transition: 150ms;
  }
}

.infoBlock {
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 0 0 16px 16px;
  height: 100px;
  background: black;

  padding: 5px;

  & > span {
    color: gold;
    z-index: 3;
    font-weight: 900;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0 ;
    top: -2px;
    height: 4px;
    width: 100%;
    background: red;

    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.35);
    z-index: 2;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    transform: scaleY(0);
    transform-origin: top;
    transition: 150ms;
    background: red;
    z-index: 1;
  }
}

.root:hover {
  & > img {
    transform: scale(1.2);
  }

  .infoBlock::before {
    transform: scaleY(1);
  }
}
