.root {
  position: relative;
  flex: 1;
}

.backgroundText {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 192px;
  font-weight: 900;
  color: white;
  letter-spacing: -10px;
  text-shadow: -17px 18px 3px rgb(0, 0, 0);

  animation-name: textAnimation;
  animation-duration: 4500ms;
};

.docsText {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: 700;
  color: white;
  
  animation-name: textAnimation;
  animation-duration: 4500ms;
};

@keyframes textAnimation {
  0% {
    opacity: 0;
  }
  
  10% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}
